@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --black: #000;
    --lightgrey: #e5e7eb;
    --seaglass: #018b6e;
    --white: #f9faf8;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background: var(--black);
    align-items: center;
    padding-top: 5vw;
}

.logo a {
    font-size: 35px;
    color: var(--white);
    margin-left: 10vw;
    font-weight: bold;
}

.right-links a {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: var(--lightgrey);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1vw;
    margin-right: 10vw;
}

.project ul {
    display: block;
    list-style: disc;
}

.content {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.text {
    margin-left: 10vw;
    margin-right: 10vw;
}

.top {
    background: var(--black);
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 2vw;
}

.top img {
    border-radius: 20%;
    height: 250px;
    object-fit: cover;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 4px;
    margin-left: 0px;
    margin-right: 10vw;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--white);
    margin-bottom: 0px;
}

.secondary {
    font-size: 18px;
    color: var(--lightgrey);
    margin-bottom: 15px;
    margin-top: 10px;
}

button {
    background-color: var(--seaglass);
    padding: 5px;
    border: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 14px;
}

a {
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.imgtext a {
    color: var(--seaglass);
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
}

h2 a {
    color: var(--seaglass);
    font-weight: bolder;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.middle p a {
    color: var(--seaglass);
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline; 
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    height: fit-content;
    color: var(--black);
}

.middle img {
    max-width: 800px;
    width: 100vw;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

.boxes p {
    text-align: center;
    width: 100px;
}

.imgtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}

.imgtext img {
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--seaglass);
    border-radius: 20%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    height: fit-content;
}

h2 {
    color: var(--black);
    font-weight: bolder;
    font-size: 36px;
}

.bottom {
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw 20vw;
    color: var(--black);
}

h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    margin: 0;
}

h4 {
    text-align: right;
    margin: 20px 0 0 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw 10vw;
    background-color: var(--white);

}

.bluebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--seaglass);
    width: 1500px;
    padding: 2vw 5vw;
    border-radius: 5px;
}

h5 {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;

}

.bluebox .text {
    margin-left: 0px;
}

.bluebox button {
    border-style: solid;
    border-color: var(--white);
    border-width: 2px;
}

.project {
    margin: 0vw 5vw;
}

.project p a {
    color: var(--seaglass);
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline; 
}

.project img {
    width: 100px;
}

@media screen and (max-width: 840px) {
    .header {
        display: flex;
        flex-direction: column;
        background: var(--black);
        align-items: center;
        padding-top: 10vw;
    }
    
    .logo a {
        font-size: 25px;
        color: var(--white);
        font-weight: bold;
        margin: 0;
    }

    ul {
        margin: 0;
        padding-top: 2vw;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    }
    
    .right-links a {
        display: flex;
        text-decoration: none;
        font-size: 18px;
        color: var(--lightgrey);
    }

    .top {
        background: var(--black);
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .top img {
        display: none;
    }

    h1 {
        font-size: 48px;
        font-weight: bolder;
        color: var(--white);
        margin-bottom: 0px;
    }
    
    .text {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 200px;
        margin-right: 200px;
    }

    .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        height: fit-content;
        color: var(--black);
    }

  }